.has-badge {
	position: relative;
	display: inline-block;
}

.has-badge .has-badge-commenter {
	position: absolute;
	bottom: -2px;
	right: -2px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	color: #ffc107;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	z-index: 1;
}
